.father {
  div:nth-child(1) {
    .traco {
      height: 5px;
      width: 60px;
      background-color: #ffc2cc;
    }
  }
}

.card-list {
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 25px !important;

  &::after {
    content: "";
    flex: auto;
  }
}
