.form-login {
  .form-floating {
    input {
      width: 350px;
    }
  }

  button {
    height: 50px;

    &:disabled {
      background-color: #c0c0c0;
      border-color: transparent;
      pointer-events: all;
      cursor: no-drop;
    }
  }
}
