.navbar-g {
  height: 60px;
  background-color: #f3f3f3;

  > div:nth-child(2) {
    a {
      color: #333;
      transition: all 0.2s;

      &:hover {
        i {
          transition: all 0.1s;
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}
